body {
  font-family: 'Avenir', 'sans-serif';
  text-align: center;
  background-color: rgb(0, 15, 24);
  color: #fff;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-button {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-bottom: 30px;
  padding: 15px 20px;
  width: 200px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.record-card {
  height: 150px;
  width: 90vw;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

.record-card-title {
  padding: 10px 20px;
  color: rgb(39, 39, 39);
}

.record-card-time {
  color: rgb(39, 39, 39);
}